system.daemon.set = true
network.local_address.set = 178.214.46.88
directory.default.set = /downloads/
session.path.set = /session/rtorrent/
network.port_range.set = 50000-50000
network.port_random.set = no
trackers.use_udp.set = yes
dht.mode.set = on
dht.port.set = 6881
protocol.pex.set = yes
protocol.encryption.set = allow_incoming,try_outgoing,enable_retry
pieces.hash.on_completion.set = yes
throttle.min_peers.normal.set = 99
throttle.max_peers.normal.set = 100
trackers.numwant.set = 100
throttle.min_peers.seed.set = -1
throttle.max_peers.seed.set = -1
throttle.max_downloads.global.set = 300
throttle.max_uploads.global.set = 300
throttle.max_downloads.set = 50
throttle.max_uploads.set = 50
throttle.global_down.max_rate.set_kb = 0
throttle.global_up.max_rate.set_kb = 0
pieces.memory.max.set = 2048M
network.xmlrpc.size_limit.set = 8M
encoding.add = utf8
network.scgi.open_local = /run/rtorrent/rtorrent.sock
execute2 = {chmod,760,/run/rtorrent/rtorrent.sock}
execute2 = {sh,-c,/usr/bin/php /var/www/rutorrent/php/initplugins.php rtorrent &}
